*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './partials/tipografia';
@import './partials/animations';

html{
    background-color: #EBEBEB;
}
body{
    max-width: 450px;
    border: 1px solid red;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;

    .logo-hmbr{
        //border: 5px solid greenyellow;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 2.5rem;

        @media only screen and (max-width: 370px){
            width: 40%;
            margin-right: 2rem;
        }
        @media only screen and (max-width: 350px){
            width: 34%;
            margin-top: 1.5rem;
            margin-right: 2rem;
        }
    }
}

.text-hero{
    h3{
        margin-top: .8rem;
        font-size: 16px;
        text-transform: uppercase;
        color: #393939;
        font-weight: 400;
        text-align: center;
    }

    @media only screen and (max-width: 350px){
        h1{
            font-size: 22px;
        }
        h3{
            font-size: 12px;
        }
        p{
            font-size: 10px;
        }
    }
}
 
.texto-linear{
    margin-top: 4rem;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.050em;
    background: linear-gradient(352.32deg, rgba(0, 0, 0, 0.2) 4.95%, 
    rgba(0, 0, 0, 0.02) 121.74%), 
    linear-gradient(360deg, #D74500 0%, #F29100 125%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.title{
    font-size: 28px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    text-align: center;
    margin-top: 3.5rem;
}

.sliders{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.8rem;
}

.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}

#item__prev{
    scale: .6;
    color: #D74500;

    @media only screen and (max-width: 350px){
        scale: .4;
       }
}
#item__next{
    scale: .6;
    color: #D74500;

    @media only screen and (max-width: 350px){
     scale: .4;
    }
}

.home-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4.6rem;

    @media only screen and (max-width: 350px){
        width: 85%;
        margin-left: 1.6rem;
        margin-top: 2.4rem;
    }
    @media only screen and (max-width: 370px){
        width: 90%;
        margin-left: 1.2rem;
        margin-top: 2.4rem;
    }
}

.section-sala-lilas{
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    .sala-lilas{
        h3{
            margin-top: 2rem;
            text-align: start;
            margin-left: 1.4rem;
            font-size: 12px;
        }
        h2{
            font-size: 18px;
            margin-top: .5rem;
            text-align: start;
            margin-left: 1.4rem;
        }
        p{
            width: 80%;
            font-size: 12px;
            margin-top: .4rem;
            margin-left: 1.4rem;
            text-align: start;
        }
        
    }
    .img-sala-lilas{
        margin-top: 2.4rem;
        margin-right: 1.4rem;

        @media only screen and (max-width: 370px){
            margin-top: 4rem;
            width: 45%;
        }
        @media only screen and (max-width: 320px){
            scale: .9;
        }
    }
}

.section-aten-pediatrico{
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    .aten-pediatrico{
        h3{
            margin-top: 2rem;
            text-align: end;
            margin-right: 1.6rem;
            font-size: 12px;
        }
        h2{
            font-size: 18px;
            margin-top: .5rem;
            text-align: end;
            margin-right: 1.6rem;
        }
        p{
            width: 90%;
            font-size: 12px;
            margin-top: .4rem;
            margin-right: 1.6rem;
            text-align: end;
        }
        
    }
    .img-aten-pediatrico{
        margin-top: 2.4rem;
        margin-left: 1.2rem;
    
        @media only screen and (max-width: 320px){
            margin: 0;
            scale: .8;
        }

        @media only screen and (max-width: 370px){
            margin-top: 2.8rem;
            width: 35%;
        }

    }
}

.section-aten-rapido{
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    .aten-rapido{
        h3{
            margin-top: 2rem;
            text-align: start;
            margin-left: 1.4rem;
            font-size: 12px;
        }
        h2{
            font-size: 18px;
            margin-top: .5rem;
            text-align: start;
            margin-left: 1.4rem;
        }
        p{
            width: 80%;
            font-size: 12px;
            margin-top: .4rem;
            margin-left: 1.4rem;
            text-align: start;
        }
        
    }
    .img-aten-rapido{
        margin-top: 4.8rem;
        margin-right: 1.6rem;

        @media only screen and (max-width: 370px){
            margin-right: 1rem;
            scale: .95;
        }
        @media only screen and (max-width: 320px){
            margin-top: 8rem;
            scale: .9;
        }
    }
}

.section-clinico-geral{
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;

    .clinico-geral{
        h3{
            margin-top: 2rem;
            text-align: end;
            margin-right: 1.2rem;
            font-size: 12px;

            @media only screen and (max-width: 320px){
                font-size: 10px;
            }
        }
        h2{
            font-size: 18px;
            margin-top: .5rem;
            text-align: end;
            margin-right: 1.2rem;

            @media only screen and (max-width: 320px){
                font-size: 16px;
            }
        }
        p{
            width: 90%;
            font-size: 11px;
            margin-top: .4rem;
            margin-right: 1.2rem;
            text-align: end;
        }
        
    }
    .img-clinico-geral{
        margin-top: 2.4rem;
        margin-left: 1.2rem;
    
        @media only screen and (max-width: 320px){
            margin-top: 2rem;
            scale: .8;
        }

        @media only screen and (max-width: 370px){
            margin-top: 2.8rem;
            width: 35%;
        }

    }
}

.section-orto{
    display: flex;
    margin-top: 2.4rem;
    justify-content: space-between;
    .orto{
        h1{
            font-size: 18px;
        }
        h3{
            margin-top: 2rem;
            text-align: start;
            margin-left: 1.4rem;
            font-size: 12px;
        }
        h2{
            font-size: 20px;
            margin-top: .5rem;
            text-align: start;
            margin-left: 1.4rem;
        }
        p{
            width: 80%;
            font-size: 12px;
            margin-top: .4rem;
            margin-left: 1.4rem;
            text-align: start;
        }
        
    }
    .img-orto{
        margin-top: 3rem;
        margin-right: 1.6rem;

        @media only screen and (max-width: 370px){
            margin-right: 1rem;
            scale: .95;
        }
        @media only screen and (max-width: 320px){
            margin-top: 4.8rem;
            scale: .8;
        }
    }
}

.section-buco-maxilo{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 6.2rem;
    justify-content: space-between;
    .buco-maxilo{
        h1{
            font-size: 18px;
        }
        h3{
            margin-top: 2rem;
            text-align: end;
            margin-right: 1.6rem;
            font-size: 12px;
        }
        h2{
            font-size: 20px;
            margin-top: .5rem;
            text-align: end;
            margin-right: 1.4rem;
        }
        p{
            width: 90%;
            font-size: 12px;
            margin-top: .4rem;
            margin-right: 1.6rem;
            text-align: end;
        }
        
    }
    .img-buco-maxilo{
        margin-top: 3rem;
        margin-left: 1.2rem;
    
        @media only screen and (max-width: 320px){
            margin: 0;
            scale: .9;
        }

        @media only screen and (max-width: 320px){
            margin-top: 6.4rem;
            scale: .8;
        }

    }
}

.faq{
    justify-content: center;
    align-items: center;

    h1{
        font-size: 22px;
        color: #303030;
        text-align: center;
        margin-bottom: 1.4rem;
    }

    details{
            justify-content: center;
            align-items: center;
            margin: 0 1.2rem .5rem 1.2rem;

        summary{
            cursor: pointer;
            font-size: 14px;
            text-align: center;
            letter-spacing: .03rem;
            border-bottom: 1.5px solid #D74500;
            border-right: 1.5px solid #D74500;
            box-shadow: 3px 3px 10px rgba(102, 102, 102, 0.15);
            padding: .5rem;
            border-radius: .18rem;

            @media only screen and (max-width: 320px){
                font-size: 12px;
            }

            &:active{
                transform: scale(0.95);
            }
        }
        p{
            margin-top: .6rem;
            font-size: 12px;
            color: #131313;
            letter-spacing: .03rem;
            text-align: center;
            border-radius: .2rem;
            padding: .5rem;
            border: 1px solid #707070;
            box-shadow: 0px 1px 10px rgba(65, 65, 65, 0.1);
        }
    }
}




.hospital-referencia{
    display: flex;
    justify-content: center;
    margin-top: 2.8rem;
}

.img-maps{
    display: flex;
    margin: 3rem 1.8rem;
    align-items: center;
    justify-content: space-between;

    .text-maps{
        font-size: 10px;
        text-align: end;
        line-height: 160%;
        letter-spacing: .02rem;
    }
}

.container-footer{
    display: flex;
    width: 100%;
    height: 3.8rem;
    margin-top: 2.8rem;
    background-color: #FFFFFF;
    justify-content: space-around;
    align-items: center;
}

.copyright{
    display: flex;
    width: 100%;
    height: 2rem;
    background-color: #D74500;
    justify-content: center;

    p{
        font-size: 10px;
        text-align: center;
        line-height: 2rem;
        color: #EBEBEB;
    }
}