$background: #EBEBEB;
$background-footer: #FFFFFF;
$color-title: #393939;
$color-p: #131313;
$color-gray-1-border: #707070;
$color-gray-2-border: #404040;

$primary-color: #D74500;
$secundary-color: #F29100;